.search-container {
    position: relative;
    margin-top: 25px;
    -webkit-animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
              animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    z-index: 100;
    
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
    backdrop-filter: blur(10px);
    background: #ffffff1f; 
  }
  
  .search-box input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    background: #ffffff00;
  }
  
  .search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #engine-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  #search-engine-button:hover #engine-icon {
    transform: rotate(360deg);
  }
  
  .engine-selector {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .engine-selector.visible {
    display: block;
    opacity: 1;
    backdrop-filter: blur(10px);
    background: #ffffff50;
  }
  
  .engine-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    background: #ffffff00;
  }
  
  .engine-option:hover {
    background-color: #f0f0f0;
    backdrop-filter: blur(10px);
    background: #ffffff50;
  }
  
  .engine-option img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  #search-button {
    border-radius: 30%;
    height: 40px;
    width: 40px;
  }
  
  #search-button:hover {
  
    border-radius: 50%;
    background-color: #0181f1;
  
  }

  #search-input{
    color: #fff;
  }

  input::placeholder {
    color: #fff;
  }